language: php

php:
  - 5.3
  - 5.4
  - 5.5

env:
  global:
    - REPO_NAME=cakephp-gearman
    - PLUGIN_NAME=Gearman
  matrix:
    - CAKE_VERSION=2.2.0
    - CAKE_VERSION=2.3.0
    - CAKE_VERSION=2.4.0

before_script:
  - cd ..
  - sh -c "sudo apt-get install uuid-dev"
  - curl -L -o libevent-1.4.14b-stable.tar.gz https://github.com/downloads/libevent/libevent/libevent-1.4.14b-stable.tar.gz
  - tar -xzf libevent-1.4.14b-stable.tar.gz
  - sh -c "cd libevent-1.4.14b-stable && ./configure && make && sudo make install && cd .."
  - curl -L -o gearmand-0.14.tar.gz https://launchpad.net/gearmand/1.0/0.14/+download/gearmand-0.14.tar.gz
  - tar -xzf gearmand-0.14.tar.gz
  - sh -c "cd gearmand-0.14 && ./configure && make && sudo make install && cd .."
  - curl -L -o gearman-0.8.3.tgz http://pecl.php.net/get/gearman/0.8.3
  - tar -xzf gearman-0.8.3.tgz
  - sh -c "cd gearman-0.8.3 && phpize && ./configure && make && sudo make install && cd .."
  - echo "extension=gearman.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - git clone git://github.com/cakephp/cakephp cakephp
  - cd cakephp
  - git checkout $CAKE_VERSION
  - chmod -R 770 app/tmp
  - cp -R ../$REPO_NAME app/Plugin/$PLUGIN_NAME
  - echo "CakePlugin::load('$PLUGIN_NAME', array('bootstrap' => true));" >> app/Config/bootstrap.php
script:
  - /usr/local/sbin/gearmand --daemon
  - cd app/
  - ./Console/cake test $PLUGIN_NAME All$PLUGIN_NAME

notifications:
  email: false