language: php

php:
  - 5.3
  - 5.4
  - 5.5

env:
  global:
    - REPO_NAME=cakephp-gearman
    - PLUGIN_NAME=Gearman
  matrix:
    - CAKE_VERSION=2.2.0
    - CAKE_VERSION=2.3.0
    - CAKE_VERSION=2.4.0

before_install:
  - composer self-update
  - sudo apt-get install uuid-dev

# Installs php-coveralls, PHP_CodeSniffer, libevent, gearmand, pecl-gearman and CakePHP
install:
  - composer install --dev --prefer-source
  - pear channel-discover pear.cakephp.org
  - pear install --alldeps cakephp/CakePHP_CodeSniffer
  - phpenv rehash
  - curl -L -o - https://github.com/downloads/libevent/libevent/libevent-1.4.14b-stable.tar.gz | tar -xzf
  - cd libevent-1.4.14b-stable && ./configure && make && sudo make install && cd .. && rm -rf libevent-1.4.14b-stable
  - sudo ln -s /usr/local/lib/libevent-1.4.so.2.2.0 /usr/lib/libevent-1.4.so.2
  - curl -L -o - https://launchpad.net/gearmand/1.0/0.14/+download/gearmand-0.14.tar.gz | tar -xzf
  - cd gearmand-0.14 && ./configure && make && sudo make install && cd .. && rm -rf gearmand-0.14
  - sudo ln -s /usr/local/lib/libgearman.so.4.0.0 /usr/lib/libgearman.so.4
  - curl -L -o - http://pecl.php.net/get/gearman/0.8.3 | tar -xzf
  - cd gearman-0.8.3 && phpize && ./configure && make && sudo make install && cd .. && rm -rf gearman-0.8.3
  - echo "extension=gearman.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`

# Start gearmand daemon and clone cakephp
before_script:
  - /usr/local/sbin/gearmand --daemon
  - git clone git://github.com/cakephp/cakephp ../cakephp
  - cd ../cakephp && git checkout $CAKE_VERSION && chmod -R 770 app/tmp
  - echo "CakePlugin::load('$PLUGIN_NAME', array('bootstrap' => true));" >> app/Config/bootstrap.php
  - cp -R ../$REPO_NAME app/Plugin/$PLUGIN_NAME

# Run CodeSniffer and PHPUnit
script:
  - cd app/
  - mkdir -p build/logs
  - phpcs --standard=CakePHP --ignore=*/vendor/* Plugin/$PLUGIN_NAME
  - ./Console/cake test $PLUGIN_NAME All$PLUGIN_NAME --stderr --coverage-clover build/logs/clover.xml

# Sends coverage report to coveralls
after_script:
  - php Plugin/$PLUGIN_NAME/vendor/bin/coveralls -v

notifications:
  email: false

addons:
  code_climate:
    repo_token: 547a20568633b9ddd1cd70aafe779cc8535e7326c43464375d83d161fb4a47c9